.App {
  text-align: center;
}

.App-logo {
  width: 100%;
}

.Full-width {
  width: 100%;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.grey {
  color: #cccccc;
}
